RewriteEngine On
RewriteBase /balerocms-src/

# Ignorar si es archivo o carpeta real
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Reescribe /module => index.php?app=module
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?app=$1 [QSA,L]

# Reescribe /module/controller/path => index.php?app=module&sr=controller/path
RewriteRule ^([a-zA-Z0-9_-]+)/(.*)$ index.php?app=$1&sr=$2 [QSA,L]

# Sirve assets directo
RewriteRule ^assets/(.*)$ public/assets/$1 [L]
