<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         cacheResult="false"
         executionOrder="default"
         colors="true">

    <testsuites>
        <testsuite name="Balerocms Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
