<!DOCTYPE html>
<html class="no-js">
<head>
<title>Admin Home Page - {mod_name}</title>
 <!--  basepath -->
<base href="{basepath}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="public/assets/js/html5shiv.js"></script>
<![endif]-->
<!-- bootstrap -->
<link href="public/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="public/assets/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
<link href="public/assets/css/styles.css" rel="stylesheet" media="screen">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="public/assets/js/html5.js"></script>
<![endif]-->
<script src="public/assets/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<link rel="shortcut icon" href="favicon.ico">
<!-- add library -->
<script src="public/assets/js/jquery-1.9.1.min.js"></script>
<script src="public/assets/js/bootstrap.min.js"></script>
<link href="public/assets/css/font-awesome.css" rel="stylesheet">
<!-- add summernote -->
<link href="public/assets/css/summernote.css" rel="stylesheet">
<script src="public/assets/js/summernote.js"></script>
</head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="http://www.balerocms.com/"><img src="public/assets/images/admin/logo_top.png"></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> {username} ({email})<i class="caret"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="./logout">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav">
                            <li>
                                <a href="./admin">Dashboard</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Preview <i class="caret"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="./" target="_blank">Front-End</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <!-- @if activeMenu == "settings" -->
                        <li class="active">
                            <!-- @else -->
                        <li>
                            <!-- @endif -->
                            <a href="./admin/settings"><i class="icon-chevron-right"></i> Dashboard</a>
                        </li>

                        <!-- @if activeMenu == "pages" -->
                        <li class="active">
                            <!-- @else -->
                        <li>
                            <!-- @endif -->
                            <a href="./admin/pages"><i class="icon-chevron-right"></i>
                                <span class="badge badge-important pull-right">0</span>New Page
                            </a>
                            <a href="./admin/all-pages"><i class="icon-chevron-right"></i>
                                <span class="badge badge-important pull-right">0</span>Edit Page
                            </a>
                        </li>
                    </ul>
                </div>
                <!--/span-->
                <div class="span9" id="content">

                    <div class="row-fluid">

                        <!-- dashboard dinamic content -->
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">
                                    <ul class="breadcrumb">
                                        <i class="icon-chevron-left hide-sidebar"><a href='./admin#' title="Hide Sidebar" rel='tooltip'></a></i>
                                        <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='./admin#' title="Show Sidebar" rel='tooltip'></a></i>
                                        <li>
                                            <a href="./admin">Dashboard</a> <span class="divider">/</span>
                                        </li>
                                        <li class="active">{mod_name}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="row-fluid padd-bottom">
                                    <!--  content -->
                                    <div class="span12">
                                        <form class="form-horizontal" method="POST" action="./admin/settings">
                                            <fieldset>
                                                <legend>{lbl_settings}</legend>
                                                <div class="control-group">
                                                    <label class="control-label" for="select01">Core</label>
                                                    <div class="controls">
                                                        <input type="text" name="core" value="{core_version}" readonly>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label" for="theme">{lbl_theme}</label>
                                                    <div class="controls">
                                                        <select class="span6" id="theme" name="theme">
                                                            <!-- @foreach themes as t -->
                                                            <!-- @if defaultTheme == t.value -->
                                                            <option value="{t.value}" selected>{t.label}</option>
                                                            <!-- @else -->
                                                            <option value="{t.value}">{t.label}</option>
                                                            <!-- @endif -->
                                                            <!-- @endforeach -->
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label" for="select01">{lbl_title}</label>
                                                    <div class="controls">
                                                        <input type="text" class="span6" id="typeahead"  data-provide="typeahead" value="{txt_title}" name="title">
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label" for="multiSelect">{lbl_keywords}</label>
                                                    <div class="controls">
                                                        <!--
                                                          <select multiple="multiple" id="multiSelect" class="chzn-select span4" name="keywords">
                                                            <option>Blog</option><option>Software</option><option>Tech</option><option>Social</option><option>Media</option><option>Video</option><option>Hacking</option><option>News</option><option>E-Commerce</option><option>Development</option><option>Portal</option><option>Services</option><option>Programming</option><option>Books</option><option>Articles</option><option>Magazine</option><option>Web</option><option>Solutions</option><option>Other</option>
                                                          </select>
                                                        -->
                                                        <input type="text" class="span6" value="{txt_keywords}" name="keywords">
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label" for="textarea2">{lbl_description}</label>
                                                    <div class="controls">
                                                        <textarea class="input-xlarge" placeholder="{lbl_insert}" style="width: 710px; height: 200px" name="description">{txt_description}</textarea>
                                                    </div>
                                                </div>
                                                <div class="form-actions">
                                                    <input type="submit" class="btn btn-primary" value="Save changes" name="submit">
                                                    <input type="reset" class="btn" value="Cancel" name="cancel">
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <!--  /content -->
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                        <!-- end dashboard dinamic content --->

                    </div>
                </div>
            </div>
            <hr>
            <footer>
                <p>Powered by <a href="#">Balero CMS</a>.</p>
            </footer>
        </div>
        <!--/.fluid-container-->

        <script src="public/assets/js/scripts.js"></script>

    </body>
</html>