<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{title}</title>
  <meta name="description" content="{description}" />
  <meta name="keywords" content="{keywords}" />
  <link rel="stylesheet" href="public/assets/css/style.css" />
</head>
<body>

<header>
  <h1>{title}</h1>
  <nav>
    <ul>
      <a href="{basepath}">Home</a><br>
    </ul>
    <!-- @foreach virtual_pages as page -->
    <ul>
      <a href="page/{page.url}">{page.virtual_title}</a><br>
    </ul>
    <!-- @endforeach -->
  </nav>
</header>

<main>

  <!-- @foreach virtual_pages as page -->
  <h2>{page.virtual_title}</h2>
  <p>{page.virtual_content}</p>
  <!-- @endforeach -->

</main>

<footer>
  &copy; {date('Y')} Your Company. All rights reserved.
</footer>

</body>
</html>
