<!doctype html>
<html>
<head>
<title>Installing...</title>
        <link rel="shortcut icon" href="{basepath}favicon.ico">
        <script type="text/javascript" src="{basepath}public/assets/installer/js/jquery.js"></script>
        <script type="text/javascript" src="{basepath}public/assets/installer/js/progressbar.js"></script>
        <link rel="stylesheet" type="text/css" href="{basepath}public/assets/installer/skins/tiny-blue/progressbar.css">
</head>
<body>

<div class="cloud">
</div>
<div id="progressBar" class="tiny-blue">
	<div></div>
</div>
<div class="message">
	Mounting System...
</div>
        <script>
                progressBar(100, $('#progressBar'));
        </script>
   <script type="text/javascript">
                   var pagina = "../index.php";
                   function redireccionar() {
                           location.href=pagina;
                   }
                   setTimeout ("redireccionar()", 5000);
   </script>
</body>
</html>